@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    /* --background: 0 0% 100%;
    --foreground: 0 0% 3.9%; */
    --background: #FFFFFB;
    --foreground: #FFFFFB;


    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
 
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
 
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
 
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
 
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
 
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
 
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
 
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
 
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
 
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
 
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
 
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

.cl-internal-b3fm6y {
  display: none;
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

html {
  overflow-x: hidden;
  background-color: #161A1D;
}

@font-face {
  font-family: main;
  /* src: url('./fonts/ccolvetica/coolvetica-rg.otf'); */
  src: url('./fonts/gramatika/GramatikaTrial-Regular-BF65dea4c5a77e9.otf');
  /* src: url('./fonts/nuemach/NeueMachina-Light.otf'); */
  /* src: url('./fonts/gramatika/GramatikaTrial-Light-BF65dea4c59cf23.otf'); */
}

.resume-card {
  background-color: #93c5fd;
}

.coverletter-card {
  background-color: #60a5fa;
}


*:focus{
  box-shadow: none !important;
}

.it-center{
  display: flex;
  place-items: center;
  place-content: center;
  justify-items: center;
  justify-content: center;
}

.nosb ::-webkit-scrollbar {
  display: none !important;
}

::-webkit-scrollbar {
  display: none ;
  
}

.showsb ::-webkit-scrollbar {
  display: flex !important;
}

/* Track */
.jtable ::-webkit-scrollbar {
  display: flex;
  width: 3px !important;
  height: 7px !important;
}

.jtable ::-webkit-scrollbar-thumb {
  background: #b2b2b2; 
  cursor: pointer !important;

  /* border-radius: 4px !important;
  width: 3px !important;
  height: 3px !important; */
}
 


/* Handle on hover */
/* .jtable ::-webkit-scrollbar-thumb:hover {
  background: #585858; 
} */

.gen-text {
  transition: 3s ease;
}


/* bg-images */
.homeimg {
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('../../public/jobkhome.png');
}

#addgif {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('../../public/addgif.gif');
}

#intr {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('../../public/intr.gif');
}

@keyframes floatAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}


.float {
  animation: floatAnimation 4s ease-in-out infinite; /* Adjust animation duration and timing function as needed */
}

.float2 {
  animation: floatAnimation 7s ease-in-out infinite; /* Adjust animation duration and timing function as needed */
}